/* .carousel-inner .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(bo-anh-chup-nui-phu-si-trong-7-nam-cua-nhiep-anh-gia-nhat-ban-ivivu-2.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(hoa-anh-tuc.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(280px-Cerisier_du_Japon_Prunus_serrulata.jpg);
} */
.carousel {
  margin-bottom: 7rem;
}
